<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>261</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>260</string>
					<key>Timestamp</key>
					<string>753911143.913967</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Docsy/Core/Context/Plugins/Navigator.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            }
</string>
				<key>leading</key>
				<string>                    }
                }
</string>
				<key>trailing</key>
				<string>        }
        
        let indices = newIndices
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>children</key>
			<array/>
			<key>title</key>
			<string>New Group</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>query-specification</key>
			<dict>
				<key>query</key>
				<string>text</string>
				<key>term</key>
				<dict>
					<key>text</key>
					<string>NavigatorIndex.read</string>
				</dict>
			</dict>
			<key>type</key>
			<string>batch-find-query</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Docsy/Docsy/Preview/PreviewDataProvider.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>122</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>121</string>
					<key>Timestamp</key>
					<string>756733961.495935</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Docsy/Docsy/Core/Database/Migrations.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>            output.append(contentsOf: splitText)
        }
</string>
				<key>trailing</key>
				<string>        if currentIndex &lt; input.endIndex {
            let fullTextSuffix = String(input[currentIndex..&lt;input.endIndex])
                .trimmingCharacters(in: .whitespacesAndNewlines)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
